{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'litreview/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>LITReview</title>
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">LITReview</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Flux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'posts' %}">Posts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'subscription' %}">Abonnements</a>
                  </li>
                  <li class="nav-item"></li>
                    <a class="nav-link active" href="{% url 'logout' %}">Déconnexion</a>
                  </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item"></li>
                    <a class="nav-link active" href="{% url 'login' %}">Connexion</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link active" href="{% url 'signup' %}">Inscription</a>
                    </li>
                </ul>
            {% endif %}
              </div>
            </div>
          </nav>
    </header>
    <body>
    {% block content %}{% endblock content %}
    </body>
    <footer></footer>
</html>