{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'litreview/style.css' %}">
        <title>LITReview</title>
    </head>
    <header>
        <h1 class="title">LITReview</h1>
        {% if user.is_authenticated %}
            <div class="links">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="">Abonnements</a>
            <a href="{% url 'logout' %}">Déconnexion</a>
        {% endif %}
    </header>
    <body>
    {% block content %}{% endblock content %}
    </body>
    <footer></footer>
</html>