{% extends 'base.html' %}
{% block content %}

    <div class="text-center">
        <h2 class="mt-5 mb-5">Flux</h2>
    </div>
    <div class="container mb-5">
        <div class="row text-center">
            <div class="col">
                <div class="container">
                        <div class="d-grid gap-2">
                            <a class="btn btn-primary btn-block btn-lg mt-3 ms-5 me-5" href="{% url 'ticket-creation' %}" role="button">Demander une critique</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="d-grid gap-2">
                        <a class="btn btn-primary btn-block btn-lg mt-3 me-5 ms-5" href="{% url 'review-creation' %}" role="button"> Créer une critique</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% for post in posts %}
        <div class="mb-4">
            {% if post.content_type == 'TICKET'%}
                {% include 'review/ticket_snippet.html' %}
        </div>
        <div class="mb-4">
            {% elif post.content_type == 'REVIEW' %}
                {% include 'review/review_snippet.html' %}
        </div>
        {% endif %}
    {% endfor %}

{% endblock content %}