{% extends 'base.html' %}
{% block content %}
    <div class="text-center">
        <h2>Vos Posts</h2>
    </div>

    {% for review in reviews %}
        {% if review.user == user and not review.ticket.is_archived %}
            <div class="container">
                <div class="border border-dark">
                    <div class="container">
                        <div class="d-flex justify-content-between">
                            <p>Vous avez publié une critique</p>
                            <p>{{ review.time_created }}</p>
                        </div>
                    </div>

                    <h3>{{ review.headline }} - {{ review.rating }}</h3>
                    <p>{{ review.body }}</p>

                    <div class="container">
                        <div class="border border-dark">
                            <p>Ticket - Vous</p>
                            <p>{{ review.ticket.title }}</p>
                            <img src="{{review.ticket.image.url}}">
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <a class="btn btn-danger mt-3" href="{% url 'delete-review' review.id %}" role="button">Supprimer</a>
                        </div>
                        <div class="p-2">
                            <a class="btn btn-primary mt-3" href="{% url 'edit-review' review.id %}" role="button">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}

    {% for ticket in tickets %}
        {% if ticket.user == user and not ticket.is_archived %}
        <p>Vous avez publié un ticket | {{ ticket.time_created }}</p>
            <p>{{ ticket.title }}</p>
            <img src="{{ ticket.image.url }}">
            <p>{{ ticket.description }}</p>
            <p><a href="{% url 'edit-ticket' ticket.id %}">Modifier</a></p>
            <a class="btn btn-outline-danger" href="{% url 'delete-ticket' ticket.id %}">Supprimer</a>
        {% endif %}
    {% endfor %}

{% endblock content %}