{% if not post.ticket.is_archived and post.ticket.user in followeds %}

    <div class="container">
        <div id="color-review" class="border border-dark border-2">
            <div class="container">
                <div class="d-flex justify-content-between fw-light">
                    {% if post.user == user %}
                        <p>Vous avez publié une critique</p>
                    {% else %}
                        <p>{{ post.user }} à publié une critique</p>
                    {% endif %}
                    <p>{{ post.time_created }}</p>
                </div>
                <div class="container">
                    <h4 class="ps-3">{{ post.headline }} - {% include 'review/star_snippet.html' %}</h4>
                    <p class="ps-3">{{ post.body }}</p>
                </div>
            </div>

            <div class="container mb-5">
                    <div id="color-ticket" class="border border-dark border-2">
                        <div class="container">
                            <div class="d-flex justify-content-between fw-light">
                                {% if post.ticket.user == user %}
                                    <p>Ticket - Vous</p>
                                {% else %}
                                    <p>Ticket - {{ post.ticket.user }}</p>
                                {% endif %}
                                <p>{{ post.ticket.time_created }}</p>
                            </div>
                        </div>
                        <h4 class="ps-3 text-decoration-underline">{{ post.ticket.title }}</h4>
                        <p class="ps-3">{{ post.ticket.description }}</p>
                        {% if post.ticket.image %}
                            <img class="ps-3 pb-3" src="{{post.ticket.image.url}}">
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>  

{% endif %}



