{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h2 class="mt-5 mb-4 text-center">Suivre d'autres utilisateurs</h2>
                <form method="post" autocomplete="off">
                    <div class="input-group">
                        <input list="users" class="form-control" type="text" name="research">
                        <button class="btn btn-info" type="submit">Rechercher</button>
                    </div>
                    <datalist id="users">
                        {% for user in users %}
                            <option value="{{ user }}"></option>
                        {% endfor %}
                    </datalist>
                    {% csrf_token %}
                </form>
        
            {% if search %}
                <h4 class="text-center">Résultat de votre recherche</h4>
                {% for user_data in search %}
                    {% if user_data == user %}
                        <p class="text-center">Vous ne pouvez pas vous abonnez à vous même !</p>
                        <p class="invisible">invisible</p>
                    {% elif user_data and already_subscribe %}
                        <p class="text-center">Vous êtes déja abonné à {{ user_data }}</p>
                    {% elif user_data %}
                        <div id="colorreview" class="d-flex justify-content-between border border-secondary p-1">
                            <p class="my-auto">{{ user_data }}</p>
                            <a class="btn btn-success" href="{% url 'subscribe' user_data.id %}" role="button">Suivre</a>
                        </div>
                        <p class="invisible">invisible</p>
                        <p class="invisible">invisible</p>

                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="invisible">
                    <h4 class="text-center">Résultat de votre recherche</h4>
                    <button class="btn btn-danger">Suivre</button>
                    <p class="invisible">invisible</p>
                </div>
            {% endif %}



                <h3 class="mt-5 mb-4 text-center">Vos abonnements</h3>
                {% if subscriptions %}
                    {% for user in subscriptions %}
                        <div id="colorreview" class="d-flex justify-content-between border border-secondary p-1">
                            <p class="my-auto">{{ user.followed_user.username }}</p>
                            <a class="btn btn-danger" href="{% url 'unsubscribe' user.followed_user.id %}" role="button">Ne plus suivre</a>
                        </div>
                    {% endfor %}
                {% endif %}

                <h3 class="mt-5 mb-4 text-center">Vos abonnés</h3>
                {% if subscribers %}
                    {% for user in subscribers %}
                        <div id="colorreview" class="d-flex justify-content-center border border-secondary p-1">
                            {{ user.user.username }}
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock content %}