{% if not post.is_archived %}

    <div class="container">
        <div id="color-ticket" class="border border-dark border-2">
            <div class="container">
                <div class="d-flex justify-content-between fw-light">
                    {% if post.user == user %}
                        <p>Vous avez demandé une critique</p>
                    {% else %}
                        <p>{{ post.user }} à demandé une critique</p>
                    {% endif %}
                    <p>{{ post.time_created }}</p>
                </div>
            </div>

            <h4 class="ps-3 text-decoration-underline">{{ post.title }}</h4>
            <p class="ps-3">{{ post.description }}</p>
            {% if post.image %}
                <img class="ps-3 pb-3" src="{{ post.image.url }}">
            {% endif %}
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <a class="btn btn-danger mt-3" href="{% url 'delete-ticket' post.id %}" role="button">Supprimer</a>
                </div>
                <div class="p-2">
                    <a class="btn btn-primary mt-3" href="{% url 'edit-ticket' post.id %}" role="button">Modifier</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}