{% if not post.is_archived and post.user in followeds %}

    <div class="container">
        <div id="color-ticket" class="border border-dark border-2">
            <div class="container">
                <div class="d-flex justify-content-between fw-light">
                    {% if post.user == user %}
                        <p>Vous avez demandé une critique</p>
                    {% else %}
                        <p>{{ post.user }} à demandé une critique</p>
                    {% endif %}
                    <p>{{ post.time_created }}</p>
                </div>
            </div>

            <h4 class="ps-3 text-decoration-underline">{{ post.title }}</h4>
            <p class="ps-3">{{ post.description }}</p>
            {% if post.image %}
                <img class="ps-3 pb-3" src="{{ post.image.url }}">
            {% endif %}
            {% if not post.is_processed %}
                <div class="d-flex flex-row-reverse">
                    <div class="p-2">
                        <a class="btn btn-primary mt-3" href="{% url 'review-creation-ticket' post.id %}" role="button">Ajouter une critique</a>
                    </div>
                </div>
            {% else %}
                <div class="mb-4"></div>
            {% endif %}
        </div>
    </div>
{% endif %}

