{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container mt-5">
        <div class="text-center">
            <h3>Inscription</h3>
            <form class="mt-5" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <a class="btn btn-danger mt-3" href="{% url 'login' %}" role="button">Retour</a>
                <button type='submit' class="btn btn-primary mt-3" >S’inscrire</button>
            </form>
        </div>
    </div>

{% endblock content %}